.Details {
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    height: 50%;
    font-size: 30px;
    float: right;
    margin-right: 5%;
    margin-bottom: 20px;
}

.Details .Details__Table {
    width: 100%;
    border-collapse: collapse;
}

.Details .Details__Table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.Details .Details__Table .leftside {
    float: left;
}

.Details .Details__Table .rightside {
    float: right;
}

@media screen and (min-width: 320px) and (max-width: 667px) {
    .Details {
        width: 90%;
    }
}

@media screen and (min-width: 320px) and (max-width: 667px) and (orientation: portrait) {
    .Details {
        width: 90%;
    }    
}

@media screen and (min-width: 768px) and (max-width: 800px) {
    .Details {
        width: 50%;
    }
}


